<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>학생 성적 관리 웹 - 내 정보</title>
  <link rel="stylesheet" href="../../../css/style.css" />
</head>

<body>

<!-- 교수자 헤더 -->

<header class="header-container">
  <div class="admin-header-container">
    <a href="#" class="header-item">🎓</a>
    <a href="#" class="header-item">내 정보</a>
    <a href="#" class="header-item">개설 강의</a>
    <a href="#" class="header-item">강의 문의</a>
    <a href="#" class="header-item">로그아웃</a>
</div>    
</header>

  <main>
    <div id="wrap">
      <div id="page-center-container">
        <div id="admin-info-container">
          <div class="grid-item">

            <!-- 내 정보 컴포넌트 -->
            <div class="page-title">내 정보</div>

            <table>
              <tr>
                <td rowspan="5" style="font-size: 130px;">
                  👨🏻‍🏫
                </td>
                <td><b>[교수자 이름]</b></td>
              </tr>
              <tr>
                <td><b>교수자 교번: </b>[관리자 교번]</td>
              </tr>
              <tr>
                <td><b>교수자 전화번호: </b>[교수자 전화번호]</td>
              </tr>
              <tr>
                <td><b>교수자 소속 (전공): </b>[교수자 전공]</td>
              </tr>
              <tr>
                <td><a href="#">📝수정 하기</a></td>
              </tr>
            </table>

          </div>

          <div class="grid-item">

            <!-- 나의 강의 내역 컴포넌트 -->
            <div class="page-title">나의 강의</div>
            <a class="a-btn" href="#">⏏️강의 추가</a>
            
            <table id="w-table">
              <tr>
                <th>강의 번호</th>
                <th>강의 이름</th>
                <th>강의 교수자 소속 (전공)</th>
                <th>강의 학점</th>
              </tr>
              <tr>
                <td>1</td>
                <td><a class="a-btn" href="#">컴퓨터 과학 개론</a></td>
                <td>컴퓨터 공학과</td>
                <td>3</td>
              </tr>
            </table>

          </div>

          <div class="grid-item">
            <!-- 강의 문의 내역 컴포넌트 -->
            <div class="page-title">강의 문의 내역</div>
            <table id="w-table">
              <tr>
                <th>문의 번호</th>
                <th>문의자 이름</th>
                <th>문의 제목</th>
                <th>문의 날짜</th>
              </tr>
              <tr>
                <td>1</td>
                <td>이름이름</td>
                <td><a class="a-btn" href="#">수업 질문</a></td>
                <td>2024-10-02</td>
              </tr>
            </table>
          </div>



        </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <p>
      학생 성적 관리 웹 사이트<br />
      제작: 서승권<br />
      문의: <a href="mailto:seoseuo@naver.com">seoseuo@naver.com</a><br />
      GitHub:
      <a href="https://github.com/seoseuo/SGMW" target="_blank">https://github.com/seoseuo/SGMW</a>
    </p>
  </footer>

</body>

</html>