<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>학생 성적 관리 웹 - 내 정보 수정</title>
  <link rel="stylesheet" href="../../../css/style.css" />
  <script src="../../../js/UserEditUser.js"></script>
</head>

<body>

  <!-- 교수자 헤더 -->

  <header class="header-container">
    <div class="admin-header-container">
      <a href="#" class="header-item">🎓</a>
      <a href="#" class="header-item">내 정보</a>
      <a href="#" class="header-item">개설 강의</a>
      <a href="#" class="header-item">관리자 문의</a>
      <a href="#" class="header-item">로그아웃</a>
    </div>
  </header>

  <main>
    <div id="wrap">
      <div id="page-center-container">
        <div id="admin-info-container">
          <div class="grid-item">

            <!-- 내 정보 컴포넌트 -->
            <div class="page-title">내 정보 수정</div>

            <form id="UserEditUser" action="#" method="post">
              <table>
                <tr>
                  <td rowspan="6" style="font-size: 130px;">
                    👨🏻‍🏫
                  </td>
                  <td>
                    <b>교수자 이름: </b>
                    <input class="input-edit-info" type="text" id="name" name="name" value="[기존 이름]">
                    <br><span class="input_warn" id="name_warn"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>교수자 교번: </b>[교수자 교번]
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>교수자 전화번호: </b>
                    <input class="input-edit-info" type="text" id="phone" name="phone" value="[기존 전화번호]">
                    <br><span class="input_warn" id="phone_warn"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>교수자 소속 (전공): </b>[기존 전공(소속)]
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="submit" value="✅수정 완료">
                  </td>
                </tr>
              </table>
            </form>
            



          </div>

          



        </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <p>
      학생 성적 관리 웹 사이트<br />
      제작: 서승권<br />
      문의: <a href="mailto:seoseuo@naver.com">seoseuo@naver.com</a><br />
      GitHub:
      <a href="https://github.com/seoseuo/SGMW" target="_blank">https://github.com/seoseuo/SGMW</a>
    </p>
  </footer>

</body>

</html>