<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>학생 성적 관리 웹 - 문의 내용</title>
  <link rel="stylesheet" href="../../../css/style.css" />
</head>

<body>
  <!-- 학생 헤더 -->
  <header class="header-container">
    <div class="admin-header-container">
      <a href="#" class="header-item">🎓</a>
      <a href="#" class="header-item">내 정보</a>
      <a href="#" class="header-item">개설 강의</a>
      <a href="#" class="header-item">강의 문의</a>
      <a href="#" class="header-item">관리자 문의</a>
      <a href="#" class="header-item">로그아웃</a>
    </div>
  </header>

  <main>
    <div id="wrap">
      <div id="page-center-container">
        <div id="admin-info-container">
          <div class="grid-item">
            
            
            <div class="page-title">문의 내용</div>
            
            <h1>제목</h1>


            <br>
            <br>
            <br>

            내용입니다. 제발 부탁드립니다.
            

          
        </div>
      </div>
    </div>
  </main>


  <footer>
    <p>
      학생 성적 관리 웹 사이트<br />
      제작: 서승권<br />
      문의: <a href="mailto:seoseuo@naver.com">seoseuo@naver.com</a><br />
      GitHub:
      <a href="https://github.com/seoseuo/SGMW" target="_blank">https://github.com/seoseuo/SGMW</a>
    </p>
  </footer>

</body>

</html>
</body>

</html>