<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학생 성적 관리 웹 - 관리자 메인</title>
    <link rel="stylesheet" href="../../../css/style.css" />
  </head>
  <body>

    <header class="header-container">
      <div class="admin-header-container">
        <a href="#" class="header-item">🎓</a>
        <a href="#" class="header-item">내 정보</a>
        <a href="#" class="header-item">교수자 조회</a>
        <a href="#" class="header-item">학생 조회</a>
        <a href="#" class="header-item">교수자 등록</a>
        <a href="#" class="header-item">학생 등록</a>
        <a href="#" class="header-item">개설 강의</a>
        <a href="#" class="header-item">로그아웃</a>
    </div>    
  </header>
  
    
    <main>
      <div id="wrap">
        <div class="center-container">
            <div id="index">
                <h1>
                  [관리자 이름] <span style="color: rgb(152, 152, 152);">관리자 님,</span><br>
                  📝학생 성적 관리 웹<span style="color: rgb(152, 152, 152);">에 오신 것을 환영합니다.</span>
                </h1>
              </div>
        </div>
      </div>
    </main>

    <footer>
      <p>
        학생 성적 관리 웹 사이트<br />
        제작: 서승권<br />
        문의: <a href="mailto:seoseuo@naver.com">seoseuo@naver.com</a><br />
        GitHub:
        <a href="https://github.com/seoseuo/SGMW" target="_blank"
          >https://github.com/seoseuo/SGMW</a
        >
      </p>
    </footer>

      </body>
    </html>
  </body>
</html>
