<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>학생 성적 관리 웹 - 내 정보 수정</title>
  <link rel="stylesheet" href="../../../css/style.css" />
  <script src="../../../js/adminEditInfo.js"></script>
</head>

<body>

  <header class="header-container">
    <div class="admin-header-container">

      <a href="#" class="header-item">🎓</a>
      <a href="#" class="header-item">내 정보</a>
      <a href="#" class="header-item">교수자 조회</a>
      <a href="#" class="header-item">학생 조회</a>
      <a href="#" class="header-item">교수자 등록</a>
      <a href="#" class="header-item">학생 등록</a>
      <a href="#" class="header-item">개설 강의</a>
      <a href="#" class="header-item">로그아웃</a>
    </div>
  </header>

  <main>
    <div id="wrap">
      <div id="page-center-container">
        <div id="admin-info-container">
          <div class="grid-item">

            <!-- 내 정보 컴포넌트 -->
            <table>
              <form id="adminEditInfo" method="post" action="#">


                <div class="page-title">내 정보 수정</div>
                <tr>
                  <td rowspan="5" style="font-size: 130px;">
                    🧑🏻‍💻
                  </td>
                  <td><b>관리자 이름: </b><input class="input-edit-info" type="text" id="name" name="name" value="[기존 이름]">
                    <br><span class="input_warn" id="name_warn"></span>
                  </td>
                </tr>
                <tr>
                  <td><b>관리자 번호: </b>[관리자 번호]</td>
                </tr>
                <tr>
                  <td><b>관리자 전화번호: </b><input class="input-edit-info" type="text" id="phone" name="phone"
                      value="[기존 전화번호]">
                    <br><span class="input_warn" id="phone_warn"></span>
                  </td>
                </tr>
                <tr>
                  <td><b>관리자 업무: </b>[관리자 업무]</td>
                </tr>
                <tr>
                  <td><input type="submit" value="✅수정 완료"></td>
                </tr>

              </form>

            </table>

          </div>

          
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>
      학생 성적 관리 웹 사이트<br />
      제작: 서승권<br />
      문의: <a href="mailto:seoseuo@naver.com">seoseuo@naver.com</a><br />
      GitHub:
      <a href="https://github.com/seoseuo/SGMW" target="_blank">https://github.com/seoseuo/SGMW</a>
    </p>
  </footer>

</body>

</html>